/*CSS for all pages*/
html {
  margin: 0em;
  padding: 0em;
}

body {
  margin: 0;
  background-color: ivory;
  padding: 0;
  height: 100%;
}

nav {
  position: sticky;
  top: 0;
}

.navcontainer {
  display: flex;
  background-color: #4eb3e2;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  background-color: #4eb3e2;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  height:auto;
  font-size: x-large;
}

.button {
  background-color: #4eb3e2;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: x-large;
}


.nav:hover {
  color: white;
}




a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  padding-top: 1cm;
}

.contentdevices {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  padding-top: 1cm;
  justify-content: center;
  padding: 1cm;
  margin: auto;
}

.names {
  padding: 40px;
}

.banned {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  padding: 50px;
  color: red;
}

form{
  background-color: #4eb3e2;
  padding: 20px;
  border-radius: 25px;
}

/* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #36657a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #101415;
}


